<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col">
      <label for="first-name">First Name</label>
      <input
        id="first-name"
        type="text"
        formControlName="firstName"
        class="form-control"
      />
      <em *ngIf="validateControl('firstName')">required</em>
    </div>
    <div class="col">
      <label for="last-name">Last Name</label>
      <input
        id="last-name"
        type="text"
        formControlName="lastName"
        class="form-control"
      />
      <em *ngIf="validateControl('lastName')">required</em>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
